* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* loading screen preloader */
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3b4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index:9999;
}
.cloud1,
.cloud2,
.cloud3 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}
.cloud2 {
   top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}
.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1.5s;
}
.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}
.preload h3 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: white;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}
section img{
  height: 200px;
}
@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}
/* end of loading screen preloader */

/* body */
body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.offset:before {
  height: 4rem;
  margin-top: 4rem;
  content: '';
  display: block;
}

/* end of body */

/* Login modal section */
.modal-backdrop {
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
}
.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.form-elegant .modal-header {
  border-bottom: none;
}

.modal-dialog .form-elegant .btn .fab {
  color: #2196f3 !important;
}

.form-elegant .modal-body,
.form-elegant .modal-footer {
  font-weight: 400;
}
/*end of the Login modal section */

/* search-box */
.search-box {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: #d4d9df;
  height: 40px;
  border-radius: 40px;
  padding: 0px;
}

.search-box:hover > .search-txt {
  width: 330px;
  padding: 0 6px;
  /* text-align: center; */
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
  text-decoration: none;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.search-btn > i {
  font-size: 30px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(5, 5, 5);
  font-size: 15px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
}
/* end of search-box */

/* navbar-section*/
.navbar-brand img {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}

.navbar {
  background: whitesmoke !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem !important;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0rem;
}

/* navbar-hover */
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #e23434;
}
/* end of navbar-hover */

/* navbar-buttons */
.navbar-nav .nav-item .nav-link {
  padding-top: 0rem;
  color: black;
}

.signupmenu:hover {
  text-decoration: none;
}
/* end of navbar-buttons */

/*carousel layout setting */
.carousel-item {
  height: 70vh;
  font-family: "Pacifico", cursive;
}
.carousel-caption {
  position: absolute;
  top: 43%;
  color: #04ebeb;
  right: 0;
  left: 0;
}
.carousel-caption h1 {
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 0.8rem;
}
.carousel-caption h2 {
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}
/*end of carousel layout setting */

/* top-pick section */

.row.pick {
  font-size: 1.4rem !important;
}
.top-head {
  width: 15rem;
  height: 0.3rem;
  margin: 0 auto 2rem;
}

.pick img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.pick img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.narrow h2 {
  font-size: 1.3rem;
}
p.lead {
  font-size: 0.9rem;
}
.pick {
  overflow: hidden;
}
.title-underline {
  height: 5px;
  width: 150px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif !important;
}
/*end of top-pick section */

/* trending-section */
.jumbotron {
  border-radius: 0;
  padding: 3rem 0 2rem;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  padding-bottom: 1.9rem;
}
.heading-underline {
  width: 18rem;
  height: 0.3rem;
  margin: 0 auto 2rem;
}
.trending img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.row.padding [class*="col-"] {
  padding: 5;
}
.trending img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.trending {
  overflow: hidden;
}
/*end of trending-section */

/* new arrivals section */
:root {
  --main-color: #e74c3c;
}
.product-grid {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.product-grid .product-image {
  overflow: hidden;
  position: relative;
}
.product-grid .product-image:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image:before {
  opacity: 1;
}
.product-grid .product-image a {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-image .pic-1 {
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
.product-image .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transform: scale(3);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
  transform: scale(1);
}
.product-image .product-trend-label,
.product-image .product-discount-label {
  content: "";
  color: #fff;
  background-color: #2ecc71;
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 7px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
}
.product-image .product-discount-label {
  background-color: var(--main-color);
  left: auto;
  right: 12px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 4;
}
.product-grid .social li {
  margin: 0 0 12px;
  opacity: 0;
  transform: translateX(-60px);
  transition: transform 0.3s ease-out 0s;
}
.product-grid:hover .social li {
  opacity: 1;
  transform: translateX(0);
}
.product-grid:hover .social li:nth-child(2) {
  transition-delay: 0.1s;
}
.product-grid:hover .social li:nth-child(3) {
  transition-delay: 0.2s;
}
.product-grid:hover .social li:nth-child(4) {
  transition-delay: 0.3s;
}
.product-grid .social li a {
  color: #fff;
  font-size: 22px;
  transition: all 0.3s;
}
.product-grid .social li a:hover {
  color: var(--main-color);
}
.product-grid .social li a:before,
.product-grid .social li a:after {
  content: attr(data-tip);
  color: #000;
  background: #fff;
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateY(-50%);
  position: absolute;
  left: 33px;
  top: 50%;
  transition: all 0.3s;
}
.product-grid .social li a:after {
  content: "";
  background: linear-gradient(-45deg, #fff 49%, transparent 50%);
  width: 10px;
  height: 10px;
  top: 40%;
  left: 20px;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after {
  display: block;
}
.product-grid .product-content {
  padding: 12px 0;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a {
  color: #959595;
}
.product-grid .title a:hover {
  color: var(--main-color);
}
.product-grid .price {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.product-grid .price span {
  color: #333;
  text-decoration: line-through;
  margin-right: 3px;
}
.product-grid .price.discount {
  color: var(--main-color);
}
.arrivals-head {
  width: 17rem;
  height: 0.3rem;
}

/* Filler Section */
#filler,
#progress {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(./IMAGES/Filler.jpg) center/cover no-repeat fixed;
}
/*end of Filler Section */

/* Timeline section */
.timeline-object:not(.complete) .timeline-status{
  background: #fff;
  border: 4px solid #c5c5c5;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.timeline-object:not(.complete) .timeline-p h1{
color: #8a8a8a;
background: #dbdbdb;
}
.timeline-object{
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: relative;
}
.timeline-object.complete::after{
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 150px;
  background-color: #1dbf73;
  left: 23px;
  top: 58px;
  transform: translateX(-50%);
}
.timeline-status{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: #1dbf73;
}
.timeline-p h1{
  font-size: 22px;
  color: #1dbf73;
  background: #b4ffdc;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.timeline-p span{
  color: #103b27;
  font-size: 16px;
  font-weight: 500;
}
/* end of Timeline section */

/* Add to cart section */
.btn{
display: flex;
justify-content: center;
height: 55px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 250px;
background: #121212;
color: #ffffff;
border-radius: 5px;
align-items: center;
user-select: none;
transition: .25s;
position: relative;
}
.btn i{
  font-size: 17px;
  position: absolute;
  top: 48.5%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: .25s;
}
.btn span{
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 30px;
  transition: .25s;
  clip-path: circle(200px at 125px 27.5px);
} */
/* end of Add to cart section */
/* =============================================== footer-section===================================== */ 
footer {
  background: #ccc;
  color: black;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
  left: 0;
}
footer img {
  height: 3rem;
  margin: 1.5 rem 0;
}
/* social-icons section */
#social {
  position: absolute;
  top: 50%;
  left: 50%;
  align-content: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
#social li {
  list-style: none;
}
#social li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #262626;
  margin: 10px;
  transition: 0.5s;
}
#social li a span {
  position: absolute;
  transition: transform 0.5s;
}

#social li a span:nth-child(1),
#social li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}

#social li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
#social li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

#social li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
#social li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#social li a span:nth-child(2),
#social li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #262626;
}

#social li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
#social li a:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}

#social li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
#social li a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
/* end of social icon section */
hr.socket {
  border-top: 0.2rem solid #dac133;
  width: 100%;
}
.badge {
  background: red;
  color: white;
}
.logout {
  size: 1rem;
  background: #003049;
  color: white;
}
/*======================================end of footer-section *==========================================/





/* ====================================MEDIA QUERIES SETTINGS===================================== */

/* start of media-queries */

@media (max-width: 768px) {
  .offset:before {
    height: 0.1rem;
    margin-top: 0.2rem;
    content: "";
    display: block;
  }
  .navbar-brand img {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
  }
  .navbar-toggler-icon {
    font-size: 0.7rem;
  }
  .collapse.navbar-collapse {
    font-size: 0.7rem;
  }
  .search-btn > i {
    font-size: 15px;
  }
  .search-txt {
    font-size: 10px;
  }
  .carousel-caption h1 {
    letter-spacing: 0.15rem;
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
  }
  .carousel-caption h2 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .narrow h1 {
    font-size: 1.9rem;
  }
  .narrow h2 {
    font-size: 1rem;
  }
  p.lead {
    font-size: 0.7rem;
  }
  .title-underline {
    height: 2px;
    width: 70px;
    margin: 0 auto;
  }
  .heading-underline {
    width: 140px;
    height: 2px;
    margin: 0 auto 2rem;
  }
  .heading h1 {
    font-size: 1.3rem;
  }
  #trending h1 {
    font-size: 1.3rem;
  }
  #course h1 {
    font-size: 1.3rem;
  }
  .search-box:hover > .search-txt {
    width: 150px;
    padding: 0 6px;
    margin: auto;
  }
  .search-box {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
  }
  .carousel-item {
    height: 35vh;
  }
  footer img {
    height: 2rem;
    margin: 1 rem 0;
  }
  #social li a {
    font-size: 15px;
  }
  #contact h4 {
    font-size: 0.9rem;
  }
  #contact p {
    font-size: 0.7rem;
  }
  #contact h5,
  #contact h3 {
    font-size: 1rem;
  }
  .logout {
    font-size: 0.6rem;
  }
  .modal-title {
    font-size: 1rem;
  }
  .p {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  #arrival {
    font-size: 1.3rem;
  }
  #arrival-underline {
    width: 6rem;
  }
  /* .top-head {
    height: 2px;
    width: 90px;
    margin: 0 auto 2rem;
  } */
  .arrivals-head {
    width: 125px;
    height: 2px;
  }
}

@media only screen and (max-width: 992px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
